@define-color selected-text {{.selected_text}};
@define-color text {{.text}};
@define-color base {{.base}};
@define-color border {{.border}};
@define-color foreground {{.foreground}};
@define-color background {{.background}};