# Main background, empty for terminal default, need to be empty if you want transparent background
theme[main_bg]="{{.main_bg}}"

# Main text color
theme[main_fg]="{{.main_fg}}"

# Title color for boxes
theme[title]="{{.title}}"

# Highlight color for keyboard shortcuts
theme[hi_fg]="{{.hi_fg}}"

# Background color of selected item in processes box
theme[selected_bg]="{{.selected_bg}}"

# Foreground color of selected item in processes box
theme[selected_fg]="{{.selected_fg}}"

# Color of inactive/disabled text
theme[inactive_fg]="{{alpha .main_fg 0.6}}"

# Color of text appearing on top of graphs, i.e uptime and current network graph scaling
theme[graph_text]="{{brighten .main_fg 0.1}}"

# Background color of the percentage meters
theme[meter_bg]="{{.selected_bg}}"

# Misc colors for processes box including mini cpu graphs, details memory graph and details status text
theme[proc_misc]="{{brighten .main_fg 0.1}}"