@define-color background-color {{.background_color}};
@define-color border-color {{.border_color}};
@define-color label {{.text_color}};
@define-color image {{.text_color}};
@define-color progress {{.text_color}};